.complete-profile-form .step{
  font-size: 1.5rem;
}

.complete-profile-form h4{
  font-size: 1.25rem;
}

.complete-profile-form .info{
  font-size: .9rem;
  margin-bottom: 1em;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
}


.complete-profile-form .multi-form-container{
  display: flex;

}

.complete-profile-form .multi-form-container >*{
  flex: 0 0 100%;
  padding: 0 1em;
}

.complete-profile-form .how-to-market-container{
  padding: 1em .5em;
  background-color: var(--color-success-light);
  border-radius: .5rem;
}


.complete-profile-form  input[type="checkbox"]{
  margin-right: .8em;
  accent-color: var(--color-success);
}