
.admin-intelligence-page-navigation a{
  text-decoration: none;
  color: var(--text-muted);
  padding: .4em .8em;
  background-color: var(--color-secondary);
  border-radius: .5rem;
}

.admin-intelligence-page-navigation a.active{
    color: var(--text-inverse);
}