.listing-card{
  border: .5px solid var(--text-muted);
  padding: .45em .5em;
  border-radius: inherit;
  max-width: 800px;
  margin: .5em 0;
}

.listing-card .listing-image{
  width: 250px;
  border: 2px solid var(--text-muted);
  border-radius: inherit;
  height: 250px;
  position: relative;
}

.listing-card .listing-image .btn-container{
  position: absolute;
  background-color: rgba(142, 142, 142, 0.541);
  bottom: 0;
  right: 0;
  padding: .5em;
  border-top-left-radius: inherit;
}

.listing-card .listing-image .btn-container button{
  background-color: transparent;
  border: none;
}

.listing-card .listing-name{
  font-size: 1.5rem;
  line-height: 1.1;
}

.listing-card .listing-description{
 margin: .5em 0;
   display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 700px) {
  .listing-card{
    flex-direction: column;
  }

  .listing-card .listing-image{
  width: 100%;

}
}